{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block h_title %}
{{ title }}
{% endblock %}

{% block content %}
<form action="" method="get">
    {{ obj_filter.form | crispy }}
    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
</form>

<p><strong>Count of students: {{ obj_filter.qs.count }}</strong></p>

{% with list_objects=obj_filter.qs %}
    {% include 'includes/student-list-table.html' %}
{% endwith %}

{% endblock %}
