{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block h_title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="collapse" id="collapseExample">
    <form action="" method="get">
        {{ object_filter.form | crispy }}
        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
</div>

{% with list_objects=object_list %}
    {% include 'includes/student-list-table.html' %}
{% endwith %}

{#{% if is_paginated %}#}
    {% include 'includes/pagination.html' %}
{#{% endif %}#}

{% endblock %}
