{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block h_title %}
{{ title }}
{% endblock %}

{% block content %}
<form action="" method="get">
    {{ obj_filter.form | crispy }}
    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
</form>

<p><strong>Count of groups: {{ obj_filter.qs.count }}</strong></p>

<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th>ID | <i class="bi bi-pencil-square"></i></th>
        <th>Name</th>
        <th>Start</th>
        <th>Description</th>
        <th>X</th>
    </tr>
    </thead>
    <tbody>
    {% for item in obj_filter.qs %}
    <tr>
        <td><a href="{% url 'groups:update' item.id %}">{{ item.id }}</a></td>
        <td>{{ item.name }}</td>
        <td>{{ item.start }}</td>
        <td>{{ item.description }}</td>
        <td><a href="{% url 'groups:delete' item.id %}"><i class="bi bi-x-square danger"></i></a></td>
    </tr>
    {% empty %}
    <p>List is empty.</p>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
