{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block h_title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="collapse" id="collapseExample">
    <form action="" method="get">
        {{ object_list.form | crispy }}
        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
</div>
<p><strong>Count of teachers: {{ object_list.qs.count }}</strong></p>

{% with list_objects=object_list.qs %}
    {% include 'includes/teacher-list-table.html' %}
{% endwith %}

{% endblock %}
