{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block h_title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="collapse" id="collapseExample">
    <form action="" method="get">
        {{ object_list.form | crispy }}
        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
</div>

<p><strong>Count of courses: {{ object_list.qs.count }}</strong></p>

<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th>ID | <i class="bi bi-pencil-square"></i></th>
        <th>Name</th>
        <th>Group</th>
        <th>X</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list.qs %}
    <tr>
        <td><a href="{% url 'courses:update' item.id %}">{{ item.id }}</a></td>
        <td>{{ item.name }}</td>
        <td>{{ item.group }}</td>
        <td><a href="{% url 'courses:delete' item.id %}"><i class="bi bi-x-square danger"></i></a></td>
    </tr>
    {% empty %}
    <p>List is empty.</p>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
